/*Модальное окно*/
.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brg-secondary);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  min-width: 448px;
  min-height: 501px;

  padding: 43px 32px 37px 48px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-white);
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.modal-form-field {
  position: relative;
  margin-bottom: 28px;
}
.modal-form-input {
  width: 448px;
  height: 40px;
  text-indent: 42px;

  outline: transparent;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  color: var(--accent-blue);
  transform: translateY(-42px) translateX(-23px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: transparent;
  border: 1px solid var(--accent-blue);
}
.comment-area:focus {
  outline: transparent;
  border: 1px solid var(--accent-blue);
}
.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-slogan {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}
.modal-form-comment {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.form-label-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area {
  border: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;

  resize: none;
}
.comment-area:focus + .form-label-comment,
.comment-area:not(:placeholder-shown) + .form-label-comment {
  color: var(--accent-blue);
  transform: translateY(-35px);
}
.agreement-checkbox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.check-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 3px;
  left: 8px;
  top: -3px;
}
/*.checkbox-icon {
  display: block;
  margin-right: 8px;
  width: 15px;
  height: 15px;

  border: 2px solid var(--secondary-color);
  border-radius: 2px;
}*/
.checkbox:checked + .check-text::before {
  border-color: var(--accent-blue);
  background-color: var(--accent-blue);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}
.check-text {
  color: var(--secondary-color);
  margin-left: 8px;
}
.agreement-link {
  color: var(--accent-blue);
}
.modal-submit {
  width: 200px;
  height: 50px;

  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;

  background-color: var(--bgr-accent);

  border: none;
  outline: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--color-white);
}
.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  fill: var(--secondary-color);
}
.icon-modal-form {
  fill: var(--secondary-color);
}
.modal-form-input:focus ~ .icon-modal-form,
.modal-form-input:not(:placeholder-shown) ~ .icon-modal-form {
  fill: var(--accent-blue);
}
.close-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.close-icon {
  display: inline-block;
  width: 11px;
  height: 11px;

  fill: var(--color-black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-form:hover .close-icon {
  fill: var(--accent-blue);
}
.close-form:hover {
  cursor: pointer;
}
