.benefits {
  display: flex;

  &-image {
    padding: 25px 100px;
    background-color: $bgr-primary;
    margin-bottom: 30px;
  }

  &-list:not(:last-child) {
    margin-right: 30px;
  }
  &-list {
    width: calc((100% - 30px * 3) / 4);

    &-name {
      color: $secondary-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 10px;
    }

    &-description {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      margin: 0;
    }
  }
}

.benefits-icon {
  width: 70px;
  height: 70px;

  &-block {
    @extend %flex-center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $bgr-primary;
  }
}
